/* eslint-disable vue/no-parsing-error */ /* eslint-disable vue/no-parsing-error
*/
<template>
  <li class="image-card">
    <img class="image-card__image" :src="image.url_n" :alt="image.title" />
  </li>
</template>

<script>
export default {
  name: "imagecard",
  props: ["image"]
};
</script>
<style scoped>
.image-card {
  width: calc(33% - 1rem);
  margin: 0.2rem 0.5rem;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  background: white;
}
.drag-class {
  width: calc(33% - 1rem);
  margin: 0.2rem 0.5rem;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  background: white;
}
.image-card__image {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 135px;
  object-fit: cover;
}
</style>
