<template>
  <div>
    <div class>
      <div class="row">
        <div class="col-sm-6">
          <div class="card show-panel">
            <div class="card-body purple-gradient">
              <nav>
                <div class="nav fixed nav-tabs nav-fill" id="nav-tab" role="tablist">
                  <a
                    class="nav-item nav-link active"
                    id="nav-home-tab"
                    data-toggle="tab"
                    href="#nav-home"
                    role="tab"
                    aria-controls="nav-home"
                    aria-selected="true"
                  >Story</a>
                  <a
                    v-on:click.prevent="toggler()"
                    @click.prevent="populate()"
                    class="nav-item nav-link"
                    id="nav-profile-tab"
                    data-toggle="tab"
                    href="#nav-profile"
                    role="tab"
                    aria-controls="nav-profile"
                    aria-selected="false"
                  >Media</a>
                  <a
                    v-on:click.prevent="toggler()"
                    @click="populate()"
                    class="nav-item nav-link"
                    id="nav-contact-tab"
                    data-toggle="tab"
                    href="#nav-contact"
                    role="tab"
                    aria-controls="nav-contact"
                    aria-selected="false"
                  >Music</a>
                </div>
              </nav>

              <div class="tab-content py-2 px-3 px-sm-0" id="nav-tabContent">
                <div id="nav-home" :class="{ hidden: isActive }">
                  <div
                    class="tab-pane fade show active overflow-auto"
                    role="tabpanel"
                    aria-labelledby="nav-home-tab"
                  >
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Et tortor at risus viverra adipiscing at. Netus et
                    malesuada fames ac turpis egestas sed tempus urna. Eget
                    felis eget nunc lobortis mattis aliquam faucibus purus in.
                    Viverra accumsan in nisl nisi scelerisque. Sit amet risus
                    nullam eget felis eget nunc lobortis mattis. Fermentum
                    posuere urna nec tincidunt. Ullamcorper malesuada proin
                    libero nunc consequat interdum varius sit amet. Ornare arcu
                    dui vivamus arcu felis bibendum ut. Sed enim ut sem viverra
                    aliquet eget sit amet. Et ligula ullamcorper malesuada proin
                    libero nunc consequat. Accumsan lacus vel facilisis volutpat
                    est velit egestas dui id. Quis hendrerit dolor magna eget
                    est lorem. Vel risus commodo viverra maecenas. Iaculis nunc
                    sed augue lacus viverra vitae. Etiam tempor orci eu lobortis
                    elementum nibh tellus molestie nunc. Scelerisque in dictum
                    non consectetur a erat. Malesuada pellentesque elit eget
                    gravida cum. Sit amet porttitor eget dolor morbi non arcu.
                    Elementum facilisis leo vel fringilla est ullamcorper eget.
                    Arcu ac tortor dignissim convallis aenean et tortor. Nunc
                    vel risus commodo viverra maecenas accumsan lacus vel
                    facilisis. At ultrices mi tempus imperdiet nulla. At in
                    tellus integer feugiat. Diam ut venenatis tellus in metus
                    vulputate eu. Enim lobortis scelerisque fermentum dui. Nunc
                    scelerisque viverra mauris in aliquam sem fringilla. Aliquet
                    nec ullamcorper sit amet risus nullam eget felis. Orci nulla
                    pellentesque dignissim enim. Volutpat sed cras ornare arcu
                    dui vivamus arcu felis bibendum. Feugiat pretium nibh ipsum
                    consequat nisl. Sollicitudin ac orci phasellus egestas
                    tellus rutrum tellus. Enim nunc faucibus a pellentesque.
                    Duis at tellus at urna condimentum mattis pellentesque id.
                    Sed viverra ipsum nunc aliquet bibendum enim facilisis.
                    Lacinia quis vel eros donec ac odio. Non tellus orci ac
                    auctor augue mauris augue. Pellentesque habitant morbi
                    tristique senectus et netus et malesuada fames. Enim sit
                    amet venenatis urna cursus eget nunc. Diam ut venenatis
                    tellus in metus vulputate. Amet nisl suscipit adipiscing
                    bibendum est ultricies integer. Ac auctor augue mauris augue
                    neque gravida in fermentum et. Sed risus ultricies tristique
                    nulla aliquet enim. Elit scelerisque mauris pellentesque
                    pulvinar. Sed id semper risus in hendrerit gravida rutrum
                    quisque non. Volutpat odio facilisis mauris sit amet massa
                    vitae tortor condimentum. In arcu cursus euismod quis
                    viverra nibh. Nec sagittis aliquam malesuada bibendum arcu
                    vitae elementum curabitur. Feugiat nibh sed pulvinar proin
                    gravida. Adipiscing commodo elit at imperdiet dui accumsan.
                    Facilisis sed odio morbi quis commodo odio aenean sed.
                    Aliquam eleifend mi in nulla posuere sollicitudin. Egestas
                    erat imperdiet sed euismod. Mauris cursus mattis molestie a
                    iaculis at. Sollicitudin ac orci phasellus egestas. Elit
                    scelerisque mauris pellentesque pulvinar pellentesque. Urna
                    molestie at elementum eu facilisis. Arcu dictum varius duis
                    at. Ut consequat semper viverra nam libero justo laoreet sit
                    amet. Consequat nisl vel pretium lectus quam id leo. Posuere
                    morbi leo urna molestie at elementum eu facilisis. Tristique
                    et egestas quis ipsum suspendisse ultrices gravida. Arcu non
                    sodales neque sodales. Congue mauris rhoncus aenean vel elit
                    scelerisque mauris. Vulputate eu scelerisque felis imperdiet
                    proin fermentum leo. Quam lacus suspendisse faucibus
                    interdum posuere lorem ipsum dolor. Magna fringilla urna
                    porttitor rhoncus dolor. Laoreet suspendisse interdum
                    consectetur libero id faucibus nisl tincidunt eget.
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="nav-profile"
                  role="tabpanel"
                  aria-labelledby="nav-profile-tab"
                >
                  <p v-if="loading">Loading...</p>
                  <ul v-else class="image-grid">
                    <div v-for="image in images" :key="image.id" class="image-card">
                      <img
                        class="image-card__image"
                        :src="image.url_n"
                        :alt="image.title"
                        id="image"
                        draggable="true"
                        @dragstart="dragStart"
                      />
                    </div>
                  </ul>
                </div>
                <div
                  class="tab-pane fade"
                  id="nav-contact"
                  role="tabpanel"
                  aria-labelledby="nav-contact-tab"
                >
                  <p class="notes">Note: Only audio tab is draggable</p>
                  <p v-if="loading">Loading...</p>
                  <ul id="napsterDiv" class="music-grid"></ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div
            id="drop"
            @drop="drop"
            @dragover="allowDrop"
            @dragenter="showzone"
            @dragend="end"
            ondrop="drop(event)"
            ondragover="allowDrop(event)"
          >
            <div v-for="(sec, i) in secNum" :key="i">
              <panelcard :section="sec" v-bind:id="i">
                <img slot="dropzone" src alt="null" />
              </panelcard>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import panelcard from "./panelcard";
// import imagecard from "./imagecard";
import config from "../../config";
import axios from "axios";
export default {
  data () {
    return {
      loading: false,
      tag: "landscape",
      isActive: false,
      images: {},
      musicList: {},
      run: true,
      dropped: true

      // eslint-disable-next-line prettier/prettier
    }
  },
  components: { panelcard },
  computed: {
    secNum () {
      return this.$store.getters.getSec;
    }
  },
  mounted () {
    if (this.$store.state.custom.secCount.length < 1) {
      this.$store.commit("addSec");
    }
  },
  methods: {
    toggler () {
      if (!this.isActive) {
        this.isActive = true;
      }
    },
    // eslint-disable-next-line no-unused-vars
    showzone (e) {
      e.preventDefault();
      // console.log("enter");
    },
    dragStart (evt) {
      evt.dataTransfer.setData("text/uri-list", evt.target.src);
      console.log(evt.target);
    },
    dragMusic (e) {
      console.log("drag started");
      e.dataTransfer.setData("text", e.target.id);
      console.log(e.target);
    },
    drop (evt) {
      if (this.dropped) {
        evt.preventDefault();
        var data = evt.dataTransfer.getData("text/uri-list");
        // console.log(data);

        // var audioData = evt.dataTransfer.getData("text");

        // var song = document.getElementById(audioData);
        // var image = document.getElementById(data);

        if (data) {
          evt.target.style.backgroundImage = `url(${data})`;
        } else {
          // evt.target.append(song);
        }
      }
    },
    end (e) {
      e.preventDefault();
      // this.dropped = false;
    },
    allowDrop (evt) {
      evt.preventDefault();
    },
    populate () {
      this.loading = true;
      this.fetchImages().then(response => {
        this.images = response.data.photos.photo;
        this.loading = false;
      });
      if (this.run) {
        this.fetchMusic();
        this.run = false;
      }
    },
    fetchImages () {
      return axios({
        method: "get",
        url: "https://api.flickr.com/services/rest",
        params: {
          method: "flickr.photos.search",
          api_key: config.api_key,
          tags: this.tag,
          extras: "url_n, owner_name, date_taken, views",
          page: 1,
          format: "json",
          nojsoncallback: 1,
          per_page: 12
        }
      });
    },
    fetchMusic () {
      this.loading = true;

      let perPage = 9;
      let offset = Math.floor(Math.random() * 50);

      const napsterSongURL = `https://api.napster.com/v2.1/playlists/pp.188152066/tracks?apikey=N2Q5N2U3MzQtNDVlYS00MTY5LThhMGQtYWFmMDk5MzBjZjlk&limit=${perPage}&offset=${offset}`;

      axios.get(napsterSongURL).then(function (response) {
        let napsterSongData = response.data.tracks;

        offset += napsterSongData.length;
        for (var i = 0; i < napsterSongData.length; i++) {
          let myUrl = napsterSongData[i].previewURL;
          let artistID = napsterSongData[i].artistId;
          let name = napsterSongData[i].name;
          let artistImageURL = `https://api.napster.com/imageserver/v2/artists/${artistID}/images/150x150.jpg?apikey=N2Q5N2U3MzQtNDVlYS00MTY5LThhMGQtYWFmMDk5MzBjZjlk&limit=9`;
          let artistImage = `<div style="width: calc(100%); height: 100px;"><img style="width:100%; height: 100%; object-fit: contain;" id='artistImage' src='${artistImageURL}'/></div>`;
          let nameDiv = `<div style=" white-space: nowrap; overflow: hidden;text-overflow: clip; "><p style="font-size: 1.2vmin; margin-bottom: 0rem">Song: ${name}</p>`;

          let songDiv = document.createElement("div");
          songDiv.setAttribute("draggable", "true");
          songDiv.style.cssText =
            "width: calc(33% - 1rem);margin: 1rem 0.5rem;border-radius: 5px;box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);background: white;";
          songDiv.classList.add("songDisplay");

          let html =
            artistImage +
            nameDiv +
            `<audio id="${i}" draggable="true" ondragstart="drag(event)" id="drag1" style="width: 100%; height: 30px;" controls><source class='audioSource' src= "${myUrl}"x></audio>`;

          songDiv.innerHTML += html;

          document.getElementById("napsterDiv").append(songDiv);
        }
      });
    }
  }
};
</script>
<style scoped>
nav > .nav.nav-tabs {
  border: none;
  color: #fff;
  background: #272e38;
  border-radius: 0;
}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active {
  border: none;
  padding: 18px 25px;
  color: #fff;
  background: #272e38;
  border-radius: 0;
}
.tab-content {
  background: #fdfdfd;
  line-height: 25px;
  border: 1px solid #ddd;
  border-top: 5px solid #e74c3c;
  border-bottom: 5px solid #e74c3c;
  padding: 30px 25px;
  min-height: 706px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus {
  border: none;
  background: #e74c3c;
  color: #fff;
  border-radius: 0;
  transition: background 0.2s linear;
}
.overflow-auto {
  height: 600px;
  text-align: justify;
}
.tab-pane {
  margin-top: 2rem;
  padding: 0px 20px;
}
.hidden {
  display: none;
}
nav > div a.nav-item.nav-link.active:after {
  content: "";
  position: relative;
  bottom: -50px;
  left: -10%;
  border: 10px solid transparent;
  border-top-color: #e74c3c;
}

.show-panel {
  width: 90%;
  min-height: 600px;
  margin: 0 auto;
  float: right;
}

.image-grid {
  list-style: none;
  margin-top: 0.5rem;
  padding: 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.music-grid {
  list-style: none !important;
  margin: 0.5rem 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.songDisplay {
  width: calc(33% - 1rem);
  margin: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  background: white;
}
#artistImage {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 140px;
  object-fit: cover;
}
.image-card {
  width: calc(33% - 1rem);
  margin: 0.5rem 0.5rem;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  background: white;
}

.image-card__image {
  border-radius: 5px 5px 0 0;
  width: calc(100%);
  height: 140px;
  object-fit: contain;
}
#container {
  background-repeat: no-repeat;
  background-size: 150px 130px;
}
.zone {
  height: 150px;
  width: 135px;
  object-fit: cover;
}
p {
  padding: 0 !important;
  margin-bottom: 0 !important;
}
</style>
