<template>
  <div class="section">
    <div class="addPanel">
      <div class="card panel-card">
        <div class="card-body border border-secondary">
          <slot class="dropzone"></slot>
        </div>
      </div>
      <span
        class="icon add-new-section"
        data-tooltip="tooltip"
        data-placement="bottom"
        title="Add New Section "
        @click="addNew()"
      >
        <i class="fas fa-plus-circle" @click="addNew()"></i>
      </span>
    </div>
  </div>
</template>
<script>
export default {
  methods: {
    addNew() {
      this.$store.commit("addSec");
    }
  }
};
</script>
<style scoped>
.addPanel {
  max-width: 450px !important;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.panel-card {
  height: 350px;
}
.addPanel > .add-new-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #404040;
  color: rgb(255, 255, 255);
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  position: relative;
  margin: auto;
  left: 0;
  right: 0;
  bottom: -15px;
  z-index: 2;
  opacity: 0;
}
.addPanel:hover > .add-new-section {
  opacity: 1;
}
.section {
  padding-top: 10px;
  border: 2px solid transparent;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
.dropzone {
  height: 150px;
  width: auto;
  border: black;
}
.card-body {
  background-repeat: no-repeat;
  background-size: 240px 200px;
  background-position-x: center;
  background-position-y: 2rem;
  background-clip: content-box;
}
#audio {
  margin-top: 3rem;
}
</style>
